name: ci

on:
  push:
    branches: [main]
    tags: ['*']
  pull_request:
    branches: [main]

jobs:
  # audit:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: true
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 20.x
  #     - run: npm install
  #     - run: npm audit --omit=dev
  standard:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - run: npm install
      - run: npm run standard
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: install shellspec
        run: curl -sfSL https://git.io/shellspec | sh -s 0.28.1 --yes
      - run: which shellspec
      - run: npm install
      - run: |
          npm run test 2>&1 | tee testResults.txt
          test ${PIPESTATUS[0]} -eq 0
  # test-coverage:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: true
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 22.x
  #     - name: install shellspec
  #       run: curl -sfSL https://git.io/shellspec | sh -s 0.28.1 --yes
  #     - run: which shellspec
  #     - run: npm install
  #     - run: npm run test-coverage
  test-pkg:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - run: npm install
      - name: pkg
        run: |
          echo "pkg-ing"
          ./node_modules/.bin/pkg . --no-bytecode --public-packages "*" --public --target node18-linuxstatic-x86_64 --output bin/linux-x86_64/vestauth
      - name: verify version
        run: |
          cd bin/linux-x86_64/
          RELEASED_VERSION=$(./vestauth --version)
          EXPECTED_VERSION=$(node -p "require('./../../package.json').version")
          echo $RELEASED_VERSION
          echo $EXPECTED_VERSION
          if [ "$RELEASED_VERSION" != "$EXPECTED_VERSION" ]; then
            echo "postrelease version mismatch: expected $EXPECTED_VERSION, got $RELEASED_VERSION"
            exit 1
          fi

  # run only on semantic version tag
  release:
    needs:
      # - audit
      - test
      - test-pkg
    if: startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '.')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4

      # GITHUB_ENV operates like a .env file
      - name: extract version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          CLEAN_VERSION=${VERSION#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "CLEAN_VERSION=$CLEAN_VERSION" >> $GITHUB_ENV

      - name: node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      # https://news.ycombinator.com/item?id=32388964
      # https://github.com/procursusteam/ldid
      # https://www.pulumi.com/blog/nodejs-binaries-with-pkg/
      # https://github.com/pulumi/pulumi-aws-static-website/blob/main/.github/workflows/release.yaml
      - name: ldid for macos binary building
        uses: MOZGIII/install-ldid-action@v1
        with:
          tag: v2.1.5-procursus2

      - name: npm install
        run: npm install

      - name: pkg
        run: |
          echo "pkg-ing"
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-macos-x64 --output bin/darwin-amd64/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-macos-x64 --output bin/darwin-x86_64/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-macos-arm64 --output bin/darwin-arm64/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-linuxstatic-x64 --output bin/linux-amd64/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-linuxstatic-x64 --output bin/linux-x86_64/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-linuxstatic-arm64 --output bin/linux-arm64/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-linuxstatic-arm64 --output bin/linux-aarch64/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-linuxstatic-armv7 --output bin/linux-armv7l/vestauth
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-win-x64 --output bin/windows-amd64/vestauth.exe
          ./node_modules/.bin/pkg . --public-packages "*" --public --target node20-win-x64 --output bin/windows-x86_64/vestauth.exe
          echo "change ownership"
          sudo chown -R root:root bin/
          echo "dist-ing"
          mkdir -p dist
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-darwin-amd64.tar.gz -C bin/darwin-amd64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-darwin-x86_64.tar.gz -C bin/darwin-x86_64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-darwin-arm64.tar.gz -C bin/darwin-arm64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-linux-amd64.tar.gz -C bin/linux-amd64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-linux-x86_64.tar.gz -C bin/linux-x86_64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-linux-arm64.tar.gz -C bin/linux-arm64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-linux-aarch64.tar.gz -C bin/linux-aarch64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-linux-armv7l.tar.gz -C bin/linux-armv7l/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-windows-amd64.tar.gz -C bin/windows-amd64/ .
          tar --gzip -cf ./dist/vestauth-${{ env.CLEAN_VERSION }}-windows-x86_64.tar.gz -C bin/windows-x86_64/ .
          zip -j ./dist/vestauth-${{ env.CLEAN_VERSION }}-windows-amd64.zip bin/windows-amd64/vestauth.exe
          zip -j ./dist/vestauth-${{ env.CLEAN_VERSION }}-windows-x86_64.zip bin/windows-x86_64/vestauth.exe
          tar --gzip -cf ./dist/vestauth-darwin-amd64.tar.gz -C bin/darwin-amd64/ .
          tar --gzip -cf ./dist/vestauth-darwin-x86_64.tar.gz -C bin/darwin-x86_64/ .
          tar --gzip -cf ./dist/vestauth-darwin-arm64.tar.gz -C bin/darwin-arm64/ .
          tar --gzip -cf ./dist/vestauth-linux-amd64.tar.gz -C bin/linux-amd64/ .
          tar --gzip -cf ./dist/vestauth-linux-x86_64.tar.gz -C bin/linux-x86_64/ .
          tar --gzip -cf ./dist/vestauth-linux-arm64.tar.gz -C bin/linux-arm64/ .
          tar --gzip -cf ./dist/vestauth-linux-aarch64.tar.gz -C bin/linux-aarch64/ .
          tar --gzip -cf ./dist/vestauth-linux-armv7l.tar.gz -C bin/linux-armv7l/ .
          tar --gzip -cf ./dist/vestauth-windows-amd64.tar.gz -C bin/windows-amd64/ .
          tar --gzip -cf ./dist/vestauth-windows-x86_64.tar.gz -C bin/windows-x86_64/ .
          zip -j ./dist/vestauth-windows-amd64.zip bin/windows-amd64/vestauth.exe
          zip -j ./dist/vestauth-windows-x86_64.zip bin/windows-x86_64/vestauth.exe

      - name: update install.sh with VERSION
        run: |
          sed "0,/^VERSION=\".*\"/s//VERSION=\"${{ env.CLEAN_VERSION }}\"/" install.sh > ./dist/install.sh

      - name: create release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/*.tar.gz
            dist/*.zip
            dist/install.sh
          body: "see [CHANGELOG](https://github.com/vestauth/vestauth/blob/main/CHANGELOG.md)"
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: publish checksums to release
        uses: wangzuo/action-release-checksums@v1
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: checkout vestauth/releases repo
        uses: actions/checkout@v4
        with:
          repository: "vestauth/releases"
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          path: "releases"
      - name: copy dist/* files to release repo
        run: |
          mkdir -p releases/latest
          cp -r dist/* releases/latest
          echo "${{ env.CLEAN_VERSION }}" > releases/VERSION
          cp README.md releases/latest/README.md
      - name: commit and push
        run: |
          cd releases
          git config --global user.name 'motdotenv'
          git config --global user.email 'mot@dotenv.org'
          git add .
          git commit -m "${{ env.VERSION }}"
          git tag "${{ env.VERSION }}"
          git push origin HEAD --tags

  # run after release
  npm:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: |
          curl -sfS https://dotenvx.sh/ops | sh
          echo "NODE_AUTH_TOKEN=$(dotenvx-ops get dotenvx://rot_71321cf34570a5db681b07d1e4078d93 --token '${{ secrets.DOTENVX_OPS_TOKEN }}')" >> $GITHUB_ENV
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ env.NODE_AUTH_TOKEN }}

  vestauth-darwin-amd64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: darwin-amd64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-darwin-arm64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: darwin-arm64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-darwin-x86_64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: darwin-x86_64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-linux-armv7l:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: linux-armv7l
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-linux-aarch64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: linux-aarch64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-linux-amd64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: linux-amd64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-linux-arm64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: linux-arm64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-linux-x86_64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: linux-x86_64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-windows-amd64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: windows-amd64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  vestauth-windows-x86_64:
    needs: release
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: commit binary to github
        uses: ./.github/actions/commit-binary-to-github
        with:
          version: ${GITHUB_REF#refs/tags/}
          platform: windows-x86_64
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  # aggregate publish-all job to wait for all previous jobs to complete
  publish-all:
    runs-on: ubuntu-latest
    needs: 
      # - homebrew
      - npm
      - vestauth-darwin-amd64
      - vestauth-darwin-arm64
      - vestauth-darwin-x86_64
      - vestauth-linux-aarch64
      - vestauth-linux-amd64
      - vestauth-linux-arm64
      - vestauth-linux-x86_64
      - vestauth-linux-armv7l
      - vestauth-windows-amd64
      - vestauth-windows-x86_64
    steps:
      - name: publish-all aggregate step
        run: echo "publish-all completed"

  vestauth-sh:
    needs: publish-all
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - name: extract version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          CLEAN_VERSION=${VERSION#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "CLEAN_VERSION=$CLEAN_VERSION" >> $GITHUB_ENV
      - name: update install.sh with VERSION
        run: |
          mkdir -p dist
          sed "0,/^VERSION=\".*\"/s//VERSION=\"${{ env.CLEAN_VERSION }}\"/" install.sh > ./dist/install.sh
      - name: checkout vestauth/vestauth.sh repo
        uses: actions/checkout@v4
        with:
          repository: "vestauth/vestauth.sh"
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          path: "vestauth.sh"
      - name: copy install.sh to vestauth.sh repo
        run: |
          cp dist/install.sh vestauth.sh/install.sh
          echo "${{ env.CLEAN_VERSION }}" > vestauth.sh/VERSION
      - name: commit and push
        run: |
          cd vestauth.sh
          git config --global user.name 'motdotenv'
          git config --global user.email 'mot@dotenv.org'
          git add .
          git commit -m "${{ env.VERSION }}" --allow-empty
          git tag "${{ env.VERSION }}" --force
          git push origin HEAD --tags --force

  confirm-vestauth-sh:
    needs: vestauth-sh
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: extract version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          CLEAN_VERSION=${VERSION#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "CLEAN_VERSION=$CLEAN_VERSION" >> $GITHUB_ENV
      - name: wait for deployment
        run: |
          end=$((SECONDS+300))
          while [ $SECONDS -lt $end ]; do
            current_version=$(curl -s -L https://vestauth.sh/VERSION)
            if [ "$current_version" == "${{ env.CLEAN_VERSION }}" ]; then
              echo "vestauth.sh deployment successful with version $current_version"
              exit 0
            fi
            echo "waiting for deployment..."
            sleep 10
          done
          echo "[DEPLOYMENT_FAILED]: VERSION did not update to ${{ env.CLEAN_VERSION }} within 5 minutes"
          exit 1

  postrelease-npm:
    needs: confirm-vestauth-sh
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: sleep
        run: sleep 60
      - name: verify version
        run: |
          npm install vestauth --save
          RELEASED_VERSION=$(npx vestauth --version)
          EXPECTED_VERSION=$(node -p "require('./package.json').version")
          echo $RELEASED_VERSION
          echo $EXPECTED_VERSION
          if [ "$RELEASED_VERSION" != "$EXPECTED_VERSION" ]; then
            echo "postrelease version mismatch: expected $EXPECTED_VERSION, got $RELEASED_VERSION"
            exit 1
          fi

  postrelease-ubuntu:
    needs: confirm-vestauth-sh
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: sleep
        run: sleep 60
      - name: install vestauth
        run: curl -fsS https://vestauth.sh/ | sh
      - name: verify version
        run: |
          RELEASED_VERSION=$(vestauth --version)
          EXPECTED_VERSION=$(node -p "require('./package.json').version")
          echo $RELEASED_VERSION
          echo $EXPECTED_VERSION
          if [ "$RELEASED_VERSION" != "$EXPECTED_VERSION" ]; then
            echo "postrelease version mismatch: expected $EXPECTED_VERSION, got $RELEASED_VERSION"
            exit 1
          fi

  postrelease-windows:
    needs: confirm-vestauth-sh
    runs-on: windows-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: sleep
        run: sleep 60
      - name: install vestauth
        run: |
          curl -L -o vestauth-windows-x86_64.zip https://github.com/vestauth/releases/blob/main/latest/vestauth-windows-x86_64.zip?raw=true
          Expand-Archive -Path vestauth-windows-x86_64.zip -DestinationPath .\vestauth
      - name: verify version
        run: |
          $RELEASED_VERSION = .\vestauth\vestauth.exe --version
          $EXPECTED_VERSION = node -p "require('./package.json').version"
          Write-Output "released version: $RELEASED_VERSION"
          Write-Output "expected version: $EXPECTED_VERSION"
          if ($RELEASED_VERSION -ne $EXPECTED_VERSION) {
            Write-Output "postrelease version mismatch: expected $EXPECTED_VERSION, got $RELEASED_VERSION"
            exit 1
          }
        shell: pwsh
